:root {
  --colorAmarillo: #EAC926;
  --colorAzul: #03264C;
  --colorCeleste: #1259C3; 
  --colorGrisOscuro: #666;
  --colorGrisClaro: #EBEBEB; 
  --colorVerde: #39B54A; 
  --tipografiaGeneral: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

i {
  margin-right: 10px;
}

div {
  display: flex;
  align-items: center;
  color: #03264C;
}

h4 i {
  margin-left: 50px;
  font-size: 12px;
  font-weight: 100;
  display: flex;
  align-items: center;
}

h4 {
  color: #666;
  text-transform: lowercase;
  font-weight: normal;
  margin: 15px;
}

h1 {
  text-align: center;
}

h2 {
  color: #666;
  text-transform: lowercase;
  text-align: center;
}

/* Centrar el texto horizontalmente en .producto-main */
.producto-main {
  text-align: center;
}

.producto-main p, .producto-main h3 {
  text-align: center;
}

/* Estilo para el texto en .icono-footer */
.icono-footer {
  text-align: center;
  color: #666;
  text-transform: lowercase;
}

/* Estilo para el texto en .texto-footer */


.texto-footer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto-footer h3 {
  color: inherit; 
}

.texto-footer p {
  color: #666; 
}
