:root {
  --colorAmarillo: #EAC926;
  --colorAzul: #03264C;
  --colorCeleste: 1259C3#; /* Corregido: faltaba una letra mayúscula */
  --colorGrisOscuro: #666;
  --colorGrisClaro: #EBEBEB; /* Corregido: faltaba una letra mayúscula */
  --colorVerde: #39B54A; /* Corregido: faltaba una letra mayúscula */
  --tipografiaGeneral: "Roboto", sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
  font: size 12px;
  background-color: #EBEBEB;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}


main {
  margin: auto;
  width: 90vw;
  background-color: #ebebeb;
  margin-bottom: 50px; 
  box-sizing: border-box;
}

.banner{
  width: 100vw;
  margin-left: -5vw;
}

.titulares {
  font-size: 24px;
}
.precios {
  
  font-size: 18px;
  width: 30%;
}
.descuento{
  font-size: 16px;
  color:#39b54a;
  width: 70%;
  text-align: right;
  
}
/* para ubicarlos en la misma linea */
.precio-descuento{
  display: flex;
  flex-wrap: wrap;
  
}
.descuento{
  align-self: center;

}
.descuento{
  font-size: 16px;
  color: (var(--colorVerde));
  width: 70%;
  text-align:right ;
}
.precio-descuento{
  display: flex;
  flex-wrap: wrap;
}
.descuento{
  align-self: center;

}

/* tamañno de precios*/

.producto{
  border-top: 1px;
  border:solid #EBEBEB 1px;
  padding:15px ;
  line-height:2px ;
  padding-left:15px ;
  background-color: white;
 margin-top:2px ;
 position: relative;
}



/*paraa despositivos */

@media(min-width:361px){
  .nombre_producto{
    line-height: 24px;
    display:block
  }

  .barra_navegacion{
    display: flex;
    justify-content: space-between;
}
.burger-menu{
  display: none;
}
.arriba-barra-nav{



}


  .compra-en-cuotas{

  }



  .articulos{


  }

  .ultima-vista, .section-ofertas{

    display:     flex;            

                flex-wrap        :wrap;
     justify-content: space-around;
  }
/* para compu */
@media(min-width:769px){

  .arriba-barra-nav, .barra_navegacion{
    max-width: 1200px;
    margin:auto;

}
.barra_navegacion li{
  margin: 0px 6px;

}


  .barra_navegacion a{

  }

  .busqueda-y-logo{

    width: 60%;

  }

    .busqueda{

      font-size: 16px;

}






