/* Header */

header {
  background-color: #EAC926;
 padding: 20%;
}
logo{
  width: 50%;
}
.compra-en-cuotas{
  font-weight: 400;
text-align: center;
}

.busqueda-y-logo{
display: flex;
justify-content: space-between;
align-items:center;
}
 
.busqueda-y-logo{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
.busqueda-y-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buscador .espacio-buscador{
  width: 90%;
}

 .busqueda{
  width: 90%;
}

.barra_navegacion{
display: none; /* Hacer que la imagen sea un bloque para centrarla horizontalmente */

}


 .barra_navegacion ul{
list-style: style none; ;
margin:0; 
padding: 0;
position: relative;
display: inline-block;
}

.barra_navegacion a {
text-decoration: none;
color:black ;
display: inline-block;
padding: 5px;
font-size: 16px;
}

.burguer-menu{
  display: block;
  max-width: 40px;
  background-color: #1259C3; ;
color:white; /* Cambia el color */
font-size: 18px; /* Cambia el tamaño del ícono */
color:white ;
text-align: center;
padding: 10px 0px;
border:8px ;
margin:auto;
box-sizing: border-box;
}



