.producto{
  border-top:1px ;
  border:solid #ebebeb 1px;
  padding:15px  ;
  line-height: 2px;
  padding-left:15px ;
  background-color: white;
  margin-top: 2px; 
position: relative;
}     

/*version mobile ( displey none )asi no figura en la descripcion */
nombre_producto{
  font-size: 16px; 
  color: grey ;
margin-bottom:0% ;
font-weight:bold ;
display:none;
}

main section img{
  width:100%

}
.img_producto{
  width: 100%;
  margin-bottom:0%;
  background-color: white;
}
main section{
  margin:auto;
}

.camion{
  color:var(--colorVerde);
  border: #39b54a solid 1,5px ;
border-radius:100% ;
padding:5px ;
text-align:center;
position: absolute;
    right: 10px;
    top: -25px;  
}


/*mofique todo el footer*/
footer {
  text-align: center;
  background-color: white;
  padding-top: 30px;
}

/* modificador de secciones */
footer .pagos{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}

footer i{
  font-size: 2em;
margin-bottom:10px ;
color: var(--colorCeleste);


}
footer h4{
  margin-bottom: 2px;
}
.Copyright{
  text-align: left;
  opacity:0,5 ;
}
